*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
:root {
    --primary-color: #4891ff;
    --light-color: #12a1875d;
    --dark-color: #111;

}

body{
    font-family:'poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: #fff;
}
a{
    text-decoration: none;
    color: #333;

}
ul{
    list-style: none;
}

img{
    max-width:100% ;
}
.navbar{
    background: #fff;
    padding:20px;

}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display:flex;
}
.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar ul li a:hover{
    color:var(--primary-color);
}
.navbar ul li a i{
    margin-right:10px;

}

.navbar ul li:last-child a {
    margin-left: 10px ;
}
/*hero*/
.hero{
    margin-bottom: 60px;
}
.hero .container {
    background: url('../images/hero-bg.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height:600px;
}
.hero .hero-content {
    width: 70%;
}
.hero .hero-text {
    width:70%;
    margin-bottom: 20px;
}
/*video*/
.video {
    padding: 10px 0 40px;
}
.video .video-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.video .video-preview {
    margin-bottom: 20px;
}
/*testimonial*/
.testimonials {
    padding: 40px 0;
}

.testimonial .testimonials-heading {
    width:700px;
    margin-bottom: 40px;

}

.testimonials .testimonials-grid {
 display:grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 30px;
}
.testimonial .card p:nth-child(2) {
    margin-top: 30px;
    font-weight: bold;
}

/*pricing*/
.pricing .pricing-grid {
    dislay:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-top: 60px;
}

.pricing .pricing-card-subheading {
margin-bottom: 30px;
}

.pricing .pring-card-price {
    margin-bottom: 30px;
    padding: 20px 0;
    border-bottom: 1px solid #accc;
}
.pricing ul{
    margin:30px 0;
}
 .pricing ul li {
    margin-bottom: 20px;
 }
.pricing ul li i {
    margin-right: 10px;
}

.pricing .pricing-footer {
    margin: 30px 0;
}

/*utility classes*/
.container{
    max-width: 1100px;
    margin:0 auto;
    padding: 0 16px;

}
.container-sm{
    max-width: 880px;
    margin:0 auto;
    padding:0 auto;

}


/*card*/
.card {
    background: #fff;
    color:#000;
    border-radius: 10px;
    padding:20px;
}

/*button*/
.btn{
    display: inline-block;
    padding: 13px 20px;
    background-color: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: none;
    cursor: pointer;
    text-align: center;
    transition: 0.6s; 
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background: var(--primary-color);
    color: #fff;
}

.btn-dark{
    background:var(--dark-color);
    color:#fff;
}

.btn-block {
    display:block;
    width:100%;
}
/*text-classes*/
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}
.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}
.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}
text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 6px;
}

.text-center {
    text-align: center;
}

/*background*/
.bg-primary {
    background: var(--primary-color);
    color:#fff;

}

.bg-light {
    background: var(--light-color);
    color:#333;

}
.bg-dark {
    background-color: var(--dark-color);
    color: #333;
}

.bg-black {
    background:#000;
    color:#fff;
}

