*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-family:'poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: #fff;
}
a{
    text-decoration: none;
    color: #333;

}
ul{
    list-style: none;
}

img{
    max-width:100% ;
}
.navbar{
    background: #fff;
    padding:20px;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*utility classes*/
.container{
    max-width: 1100px;
    margin:0 auto;
    padding: 0 16px;

}
.container-sm{
    max-width: 880px;
    margin:0 auto;
    padding:0 auto;

}
